

body {
    display: block;
    justify-content: center;
    align-content: center;
    box-sizing: content-box;
    font-family: 'Kanit' ,sans-serif;
}
.Placards {
    background-color: #f9fcff;
background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
    padding: .28293rem 30px;
    border-radius: 5px;
    width: 70%;
    margin: auto;
}
h1 {
    font-family: 'Playfair', serif;
    font-size: 4rem;
}

ul {
    justify-content: center;
    gap: 1.5rem;
    padding: 0 3px;
    
}
button {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    font-size: medium;
    display: flex;
    position:sticky;
    flex-wrap: nowrap;
    cursor: pointer;
}
button li {
    padding: 2px 11px;
    margin: 0 4px 0 2px;
}
button:hover {
    scale: 1.01;
}
.About{
    position: fixed;
    width: 40%;
    height: 40vh;
    padding: 1.2rem 6rem;
    z-index: 777;
    transition: opacity .4s, visibility .4s ease, transform .5s ease-in-out;
    background-color: #dee4eab6;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.About svg {
    position: fixed;
    width: 2.6rem;
    height: 2.6rem;
    right: 25%;
    top: 25%;
}
.Contac {
    position: fixed;
    display: block;
    width: max-content;
    height: 50%;
    padding: 5px 7px;
    z-index: 888;
    background-color: #dee4eab6;
}
.Contac svg {
    position: fixed;
    width: 1.8rem;
    height: 1.8rem;
    right: 35%;
    top: 45%;
    
}
@media only screen and (width < 768px) {
    .Placards {
        width: 100%;
        display: block;
        margin: auto;
    }
    .Placards h1 {
        width: 90%;
        font-size: 2.8rem;
    }
    ul {
        display: flex;
        flex-direction: column;
    }
    ul button {
        width: 65%;
        box-sizing: border-box;
        flex-direction: row;
        padding: 6px 8px;
    }
    button {
        display: flex;
        justify-content: center;
    }
    button svg {
        margin: 0 auto;
        padding: 0 12px;
    }
    .About {
        width: 70%;
        height: 55%;
        opacity: .9;
        background-color: #dee4ea;
        justify-content: center;
        box-sizing: content-box;
        border-radius: 4px;
        margin: 8px 0;
    }
    .About svg {
        position: fixed;
        cursor: pointer;
        right: 10%;
        top: 15%;
        z-index: 99999;
        width: 1.9rem;
        height: 1.9rem;
        animation: svgPulse 900ms ease-in 900ms infinite alternate backwards;
    }
    @keyframes svgPulse {
        from {  transform: scale(0.8); opacity: .6;}
        to {    transform: scale(1.02); opacity: 1;}
    }
    .Contac {
        width: 65%;}
    .Contac svg {
        top: 13%;
        z-index: 9999999;
        left: 66%;
        animation: svgPulse 900ms ease-in 900ms infinite alternate backwards;
   
    }
}